{% extends "base.html" %}
{% block main %}
<div id="header">
    <h1><a href="/">Debate it!</a></h1>
</div>
<div id="content">
    <div id="side-action">
        <a href="/login?url=%2F" class="big khaki button">Identifiez-vous</a>
    </div>
    <div id="description" class="box">
        <p>Debate it! est une plate-forme de <strong>débats</strong> en ligne.</p>
        <p><strong>Exprimez</strong> clairement vos idées avec une syntaxe de mise en forme simple.</p>
        <p><strong>Saisissez</strong> l’essence du débat grâce à un affichage ergonomique.</p>
        <p>Debate it! est <strong>gratuit</strong>, il suffit d’avoir un compte Google pour l’utiliser.</p>
    </div>
</div>
<div id="footer">
    <p>©2010 — <a href="mailto:julien.rf@no-log.org" rel="noreferrer">Julien Richard-Foy</a></p>
</div>
{% endblock %}
