#{extends 'main.html' /}
#{set 'title'}&{'myRooms'} — Debate it!#{/set}
#{set 'moreStyles'}
	#{stylesheet 'pagination.sass' /}
#{/set}

<div>
	<h1>&{'myRooms'}</h1> #{a @Rooms.newRoom()}&{'createRoom'}#{/a}
</div>


#{if subscriptions.size() > 0}
	<div class="box">
		<table class="list">
		
		<tr class="item">
			<th>&{'room'}</th>
			<th>&{'threadCount'}</th>
		</tr>
		
		#{list items:subscriptions, as:'subscription'}
			<tr class="item ${subscription_parity}">
				%{ subscription.room.get(); room = subscription.room; }%
				<td>#{a @Rooms.show(room.hash), class:'item-title'} ${room.name} #{/a}</td>
				<td>${room.threads.count()}</td>
			</tr>
		#{/list}
		
		</table>
		#{pagination.list pagination:pagination, route:@Rooms.list() /}
	</div>
#{/if}
