*{ Displays a button allowing a user to follow or not a thread }*
*{ @param user }*
*{ @param thread }*

#{if _user}
	#{ifnot _user.isFollowing(_thread)}
		#{sprite name:'follow', action:@Debate.followThread(_thread.hash, request.url), alt:messages.get('followThread') /}
	#{/ifnot}
	#{else}
		#{sprite name:'doNotFollow', action:@Debate.doNotFollowThread(_thread.hash, request.url), alt:messages.get('doNotFollowThread') /}
	#{/else}
#{/if}

#{sprite name:'permalink', action:@Debate.showThread(_thread.hash), alt:messages.get('permanentLink') /}

#{sharethis /}
