*{ Display the tools div of a paragraph in a post }*
*{ @param Paragraph paragraph }*
*{ @param Collection<Paragraph> paragraphsToShow }*
*{ @param Thread thread }*
*{ @param User user }*

<div class="tools-container"> *{ Ce div.subcontainer est nécessaire pour positionner le div.tools en absolute }*
    <div class="tools">
	    #{if _paragraph.answers.size() != 0}
	    	#{if _paragraphsToShow.contains(_paragraph)}
	    	<a class="hide-answers" href="#" title="&{'hidePostAnswers'}">&{'hideAnswers'}</a>
	    	#{/if}
	    	#{else}
	    	<a class="show-answers" href="#" title="&{'showPostAnswers'}">&{'showAnswers'}</a>
	    	#{/else}
    	#{/if}
    	<span class="other-tools">
        <a href="@{Debate.reply(_thread.hash, _paragraph.id)}" title="&{'replyToPost'}">&{'reply'}</a>
        #{if _paragraph.post.parent != null}
        <a href="#post_${_paragraph.post.parent.post.id}" title="&{'goToParentPost'}">&{'parent'}</a>
        #{/if}
        #{if _paragraph.post.author == _user && !_paragraph.post.hasAnswers()}
        <a title="&{'editPost'}" href="@{Debate.edit(_thread.hash, _paragraph.post.id)}">&{'edit'}</a>
        #{/if}
        <a title="&{'asRoot'}" href="@{Debate.branch(_thread.hash, _paragraph.id)}">r</a>
        #{if _user != null}
        *{<a title="&{'forkPost'}">&{'fork'}</a>}*
    	#{/if}
    	</span>
    </div>
</div> <!-- subcontainer -->
