#{if _rooms.size() > 0}
<div class="box">
	<table class="list">
	
	<tr class="item">
		<th>&{'room'}</th>
		<th>&{'thread'}</th>
		<th>&{'lastPost'}</th>
	</tr>
	
	#{list items:_rooms, as:'room'}
		<tr class="item ${room_parity}">
			<td>#{a @Rooms.show(room.hash), class:'item-title'} ${room.name} #{/a}</td>
			%{ thread = room.lastActivity(); }%
			<td>#{a @Debate.showThread(thread.hash)} ${thread.title} #{/a}</td>
			%{ post = thread.lastPost(); }%
			<td> ${post.author.name}, &{'at'} #{date date:post.date, tz: _tz /} </td>
		</tr>
	#{/list}
	
	</table>
</div>
#{/if}
#{else}
	<div>&{'noRecentActivity'}</div>
#{/else}