*{ Display a post tree }*
*{ @param Post post }*
*{ @param Date lastReading }*
*{ @param Collection<Post> paragraphsToShow }*
*{ @param User user }*
*{ @param Long threadId }*

<div class="box post ${_lastReading.compareTo(_post.date) >= 0 ? "read" : "unread" }" id="post_${_post.id}">
    #{posttitle post:_post, tz:_user?.tz /}

	#{list items:_post.paragraphs.fetch(), as:'paragraph'}
	    <div class="paragraph" id="paragraph_${paragraph.id}">
	    	<div class="container">
				#{paragraphcontent paragraph:paragraph /}
		
				#{paragraphtools paragraph:paragraph, thread:_thread, user:_user, post:_post, paragraphsToShow:_paragraphsToShow /}
			</div>
			
			*{ Affichage des réponses }*
			#{if paragraph.answers.count() != 0 && _paragraphsToShow.contains(paragraph)}
				<div class="answer">
				#{list items:paragraph.answers.fetch(), as:'reply'}
						#{tree post:reply, lastReading:_lastReading, paragraphsToShow:_paragraphsToShow, user:_user, thread:_thread /}
				#{/list}
				</div>
			#{/if} *{ paragraph.answers.count() != 0 }*
		</div> <!-- container -->
    #{/list} *{ paragraphs }*
</div> <!-- post -->
