*{ Display a post tree }*
*{ @param Post post }*
*{ @param Date lastReading }*
*{ @param Collection<Post> paragraphsToShow }*
*{ @param User user }*
*{ @param Long threadId }*

<div class="box post ${_lastReading.compareTo(_post.date) >= 0 ? "read" : "unread" }" id="post_${_post.id}">
    #{posttitle post:_post, tz:_user?.tz /}

	#{list items:_post.paragraphs, as:'paragraph'}
	    <div class="container" id="paragraph_${paragraph.id}">
			#{paragraphcontent paragraph:paragraph /}
	
			#{paragraphtools paragraph:paragraph, thread:_thread, user:_user, post:_post, paragraphsToShow:_paragraphsToShow /}
		</div> <!-- container -->
		#{if paragraph.answers.size() != 0 && _paragraphsToShow.contains(paragraph)}
			*{ Affichage des réponses }*
			<div class="answer">
			#{list items:paragraph.answers, as:'reply'}
					#{tree2 post:reply, lastReading:_lastReading, paragraphsToShow:_paragraphsToShow, user:_user, thread:_thread /}
			#{/list}
			</div>
		#{/if} *{ paragraph.answers.size() != 0 }*
    #{/list} *{ paragraphs }*
</div> <!-- post -->
