#{extends 'main.html' /}
#{set title: thread.title + " — Debate it!" /}
#{set 'moreStyles'}
	#{stylesheet 'box.sass' /}
	#{stylesheet 'tree.sass' /}
#{/set}

<script type="text/javascript">
	var getAnswers = #{jsAction @Debate.answers(thread.hash, ':paragraphId') /}
</script>

#{if user == null}
	<nav>#{a @Dbtit.login(request.url), class:'normal gray button'} &{'login'} #{/a} &{'toParticipate'}</nav>
#{/if}

<h1 class="thread title">#{a @Debate.thread(thread.hash)}${thread.title}#{/a} » &{'branch'}</h1>

<p>&{'shareThread'} #{a @Debate.thread(thread.hash)}@@{Debate.thread(thread.hash)}#{/a}</p>

#{treefromparagraph paragraph:paragraph, lastReading:lastReading, paragraphsToShow:paragraphsToShow, user:user, thread:thread /}

#{if footNotes.size() > 0}
	<ol id="footnotes" class="footnotes">
	#{list items:footNotes, as:'footNote'}
		<li>${ footNote.getContent().raw() }</li>
	#{/list}
	</ol>
#{/if}