#{extends 'main.html' /}
#{set 'title'}&{'followedThreads'} — Debate it!#{/set}
#{set 'moreStyles'}
	#{stylesheet 'pagination.sass' /}
	#{stylesheet 'box.sass' /}
	#{stylesheet 'hover.sass' /}
	#{stylesheet 'sprite.sass' /}
	#{stylesheet 'follow.sass' /}
#{/set}

<div>
	<h1>&{'followedThreads'}</h1>
</div>

#{if followedThreads.size() > 0}
<div class="box">
	<table class="list">
	
	<tr>
		<th>&{'debate'}</th>
		<th>&{'lastPost'}</th>
		<th>&{'unreadPosts'}</th>
	</tr>
	
	#{list items:followedThreads, as:'thread'}
		<tr class="item ${thread_parity}">
			<td>#{a @Debate.showThread(thread.hash), class:'thread-title'} ${thread.title} #{/a}</td>
			%{ lastPost = thread.lastPost(); lastPost.author.get(); }%
			<td>${lastPost.author.name}, &{'at'} #{date date:lastPost.date, tz:user?.tz /}</td>
			%{ unreadPostCount = user.getUnreadPostCount(thread) }%
			<td class="unread-post-count">${unreadPostCount}</td>
			<td><span class="tools">#{sprite name:'doNotFollow', action:@Debate.doNotFollowThread(thread.hash, request.url), alt:messages.get('doNotFollowThread') /}</span></td>
		</tr>
	#{/list}
	
	</table>
	#{pagination.list pagination:pagination, route:@Debate.followThreads() /}
<div>
#{/if}
