#{extends 'main.html' /}
#{set 'title'}&{'myRooms'} — Debate it!#{/set}
#{set 'moreStyles'}
	#{stylesheet 'pagination.sass' /}
	#{stylesheet 'box.sass' /}
#{/set}

<div>
	<h1>&{'myRooms'}</h1> #{a @Debate.newRoom()}&{'createRoom'}#{/a}
</div>


#{if subscriptions.size() > 0}
	<table class="list box">
	
	<tr class="item">
		<th>&{'room'}</th>
		<th>&{'threadCount'}</th>
	</tr>
	
	#{list items:subscriptions, as:'subscription'}
		<tr class="item ${subscription_parity}">
			%{ subscription.room.get(); room = subscription.room; }%
			<td>#{a @Debate.showRoom(room.hash), class:'item-title'} ${room.name} #{/a}</td>
			<td>${room.threads.count()}</td>
		</tr>
	#{/list}
	
	</table>
#{/if}

#{pagination.list pagination:pagination, route:@Debate.listRooms() /}