#{extends 'main.html' /}
#{set title: "Debate it!" /}
#{set 'moreStyles'}
	#{stylesheet 'form.sass' /}
#{/set}

<div>
	<h1>&{'createRoom'}</h1>
</div>

#{form @Debate.createRoom()}

	#{ifErrors}
		<p class="form-error">&{'formError'}</p>
	#{/ifErrors}
	
	#{field 'name'}
	<div class="row">
	    <input type="text" class="${field.errorClass}" name="${field.name}" size="65" placeholder="&{field.name}" value="${field.value}" />
	    <br />
	    <span class="form-error">${field.error}</span>
	</div>
	#{/field}
	
	*{#{field 'isPublic'}
	<div class="row">
		<input type="checkbox" id="${field.id}" value="true" name="${field.name}" ${field.value == true ? 'checked ="checked"' : ' '} /><label for="${field.id}">&{field.name}</label>
		<div class="hint">&{'isPublicHint'}</div>
	</div>
	#{/field}}*
	
	<div class="buttons">
		<input type="submit" value="&{'create'}" name="create" />
	</div>
	
#{/form}


