#{extends 'main.html' /}
#{set title:'Debate it!' /}
#{set 'moreStyles'}
	#{stylesheet 'form.sass' /}
	#{stylesheet 'bubble.sass' /}
	#{stylesheet 'box.sass' /}
	#{stylesheet 'tree.sass' /}
#{/set}


<div>
	#{a @Debate.showRoom(room.hash)}${room.name}#{/a} » <h1>&{'createThread'}</h1>
</div>

#{if preview}
	<h2>&{'threadPreview'}</h2>
	<h2>${threadTitle}</h2>
	#{postpreview paragraphs:paragraphs, footNotes:footNotes /}
#{/if}

#{include 'syntaxhint.html' /}

#{form @Debate.createThread(room.hash)}
	#{ifErrors}
		<p class="form-error">&{'formError'}</p>
	#{/ifErrors}

	#{field 'threadTitle'}
	<div class="row">
        <input type="text" id="${field.id}" name="${field.name}" size="80" value="${field.value}" placeholder="&{field.name}" class="${field.errorClass}" />
        <br />
        <span class="form-error">${field.error}</span>
	</div>
	#{/field}

	#{field 'content'}
	<div class="row">
        <textarea id="${field.id}" name="${field.name}" cols="65" rows="15" placeholder="&{'threadContent'}" class="${field.errorClass}">${field.value}</textarea>
        <br />
        <span class="form-error">${field.error}</span>
	</div>
	#{/field}

	<div class="buttons">
	    <input type="submit" value="&{'preview'}" name="preview" />
	    <input type="submit" value="&{'create'}" name="create" />
    </div>
#{/form}
