#{extends 'main.html' /}
#{set title: thread.title + " — Debate it!" /}
#{set 'moreStyles'}
	#{stylesheet 'form.sass' /}
	#{stylesheet 'bubble.sass' /}
	#{stylesheet 'box.sass' /}
	#{stylesheet 'tree.sass' /}
#{/set}

<h1 class="thread title">#{a @Debate.showThread(thread.hash)}${thread.title}#{/a} » &{'replyToPost'}</h1>

<div class="post box">
	#{posttitle post:paragraph.post, tz:user?.tz /}
	
	<div class="paragraph">
	#{paragraphcontent paragraph:paragraph /}
	</div>
</div>

#{if paragraph.footNotes.count() > 0}
	<ol id="footnotes">
		#{list items:paragraph.footNotes.fetch(), as:'footNote'}
			<li>${ footNote.getContent().raw() }</li>
		#{/list}
	</ol>
#{/if}

#{if preview}
	<h2>&{'postPreview'}</h2>
	#{postpreview paragraphs:paragraphs, footNotes:footNotes /}
#{/if}

#{include 'syntaxhint.html' /}

<div class="form">
	#{ifErrors}
		<p class="form-error">&{'formError'}</p>
	#{/ifErrors}
	
	#{form @Debate.postReply(thread.hash, paragraph.id)}
	
	<div>
		<label for="answer-content"> &{'content'} </label>
	    <textarea id="answer-content" class="answer-content" name="content" cols="55" rows="15">${content}</textarea>
	    <br />
	    <span class="form-error">${errors.forKey('content')}</span>
	</div>
	
	<label for="foo"></label>
	<input type="submit" value="&{'preview'}" name="preview" />
	<input type="submit" value="&{'send'}" name="send" />
	
	#{/form}
</div> <!-- form -->
