#{extends 'main.html' /}
#{set title: thread.title + " — Debate it!" /}
#{set 'moreStyles'}
	#{stylesheet 'box.sass' /}
	#{stylesheet 'bubble.sass' /}
	#{stylesheet 'hover.sass' /}
	#{stylesheet 'tree.sass' /}
#{/set}

<script type="text/javascript">
	var getAnswers = #{jsAction @Debate.answers(thread.hash, ':paragraphId') /}
</script>

#{if user == null}
	<nav>#{a @Dbtit.login(request.url), class:'normal gray button'} &{'login'} #{/a} &{'toParticipate'}</nav>
#{/if}

<div class="hoverable">
	<h1 class="thread title">${thread.title}</h1>
	
	*{<p>&{'shareThread'} #{a @Debate.thread(thread.hash)}@@{Debate.thread(thread.hash)}#{/a}</p>}*
	#{followthread thread:thread, user:user /}
</div>

#{tree post:post, lastReading:lastReading, paragraphsToShow:paragraphsToShow, user:user, thread:thread /}

#{if footNotes.size() > 0}
	<ol id="footnotes" class="footnotes">
	#{list items:footNotes, as:'footNote'}
		<li>${ footNote.getContent().raw() }</li>
	#{/list}
	</ol>
#{/if}