<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{stylesheet 'main.sass' /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
    	<div id="header">
        	<h1><a href="@{Dbtit.index()}">Debate it!</a></h1>
    	</div>
    
        #{if flash.success}
        <div class="fSuccess">
        	${flash.success}
        </div>
        #{/if}
        
        #{if flash.error}
        <div class="fError">
        	${flash.error}
        </div>
        #{/if}
        
		#{if user != null}
			<div id="logout">#{a @Dbtit.profile(request.url)}&{'profile'}#{/a} #{a @Dbtit.logout()} &{'logout'} (${user.name}) #{/a}</div>
		#{/if}

        <div id="content">
        	#{doLayout /}
        </div>
        
        <div id="footer">
        	<p>© 2010 — <a href="mailto:julien.rf@no-log.org">Julien Richard-Foy</a></p>
        </div>
        
        #{script 'jquery-1.4.min.js' /}
        #{script 'thread.js' /}
        #{get 'moreScripts' /}
    	#{i18n /}
    </body>
</html>
