<h1>Fonctionnalités</h1>

<p>Debate it! est conçu pour faciliter le débat.</p>

<h2>Disposition innovante</h2>

<p>Les réponses à un paragraphe d’un message s’intercale au milieu de ce dernier, afin que les réponses soient toujours dans leur contexte. Citer devient inutile !</p>

<h2>Syntaxe simple de mise en forme</h2>

<p>Les messages peuvent contenir des éléments essentiels de mise en forme (accentuation, liste, lien hypertexte, etc.)</p>

<h2>Gestion des notes de bas de page</h2>

<p>Les notes de bas de page peuvent servir à contenir des liens vers les sources appuyant un argument, ou bien un détail explicatif qui serait trop long pour être dans le message initial.</p>

<h2>Embranchements de discussions</h2>

<p>Si les réponses à un message constituent une digression, il est possible de démarrer une nouvelle discussion à partir de la discussion existante.</p>