#{extends 'main.html' /}
#{set title:'Debate it!' /}
#{set 'moreStyles'}
	#{stylesheet 'box.sass' /}
	#{stylesheet 'pagination.sass' /}
	#{stylesheet 'index.sass' /}
#{/set}

<div id="title">Debate it!</div>

<div id="index-wrapper">
	<div id="side-action">
		#{if user != null}
			#{a @Debate.newThread(models.Room.getOpenRoom().hash), class:'button orange big'} &{'createThread'} #{/a}
		#{/if}
		#{else}
			#{a @Dbtit.login(request.url), class:'button orange big'} &{'login'} #{/a}
		#{/else}
	</div>
	
	<div id="main-description" class="box">
		&{'intro'}
		<p>#{a @Dbtit.features()} &{'more'} #{/a}</p>
	</div>
	
	<h2>&{'openRoomState'}</h2>
	
	#{roomthreads threads:threads, pagination:pagination, route:@Dbtit.index() /}
</div>