/* Feuille de style de la page d’accueil */

#index-wrapper
	position: relative
	width: 60em
	margin-top: 3em
	margin-left: auto
	margin-right: auto

#main-description
	margin: 0
	width: 35em
	font-family: serif
	font-size: 1.1em

#side-action
	position: absolute
	top: 4em
	left: 45em
	width: 15em
