.sprite
	width: 16px
	height: 16px
	background: url(../images/dbtit.png) 0 0 no-repeat
	display: inline-block

.permalink
	background-position: 0 0

.permalink:hover
	background-position: -16px 0

.readPost
	background-position: 0 -16px

.readPost:hover
	background-position: -16px -16px

.unReadPost
	background-position: 0 -32px

.unReadPost:hover
	background-position: -16px -32px

.follow
	background-position: 0 -48px

.follow:hover
	background-position: -16px -48px

.doNotFollow
	background-position: 0 -64px

.doNotFollow:hover
	background-position: -16px -64px

.show-answers
	background-position: 0 -80px

.show-answers:hover
	background-position: -16px -80px

.hide-answers
	background-position: 0 -96px

.hide-answers:hover
	background-position: -16px -96px

.replyPost
	background-position: 0 -112px

.replyPost:hover
	background-position: -16px -112px

.forkThread
	background-position: 0 -128px

.forkThread:hover
	background-position: -16px -128px

.editPost
	background-position: 0 -144px

.editPost:hover
	background-position: -16px -144px

.parentPost
	background-position: 0 -160px

.parentPost:hover
	background-position: -16px -160px

.root
	background-position: 0 -176px

.root:hover
	background-position: -16px -176px

.rss
	background-position: 0 -192px

.rss:hover
	background-position: -16px -192px
