html {
	color: #333;
	background: whiteSmoke;
}
body {
	margin-left: auto;
	margin-right: auto;
	max-width: 85%;
	font-family: sans;
}
#header {
	padding: 0.5em;
}
#header h1 {
	text-align: center;
	font: 3em serif;
}
#header h1 a {
	text-decoration: none;
	color: #444;
	text-shadow: white 2px 2px 0;
}
#login, #logout {
	text-align: right;
	margin: 1em;
}
#content {
	position: relative;
}
#footer {
	margin-top: 2em;
	text-align: center;
	color: grey;
}
#footer a {
	color: grey;
}
.fSuccess {
	width: 80%;
	padding: 0.5em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	font-weight: bold;
	text-align: center;
	color: white;
	background: forestGreen;
	margin: 1em auto;
}
.fError {
	width: 80%;
	padding: 0.5em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	font-weight: bold;
	text-align: center;
	color: white;
	background: orangeRed;
	margin: 1em auto;
}
.box {
	border-radius: .5em;
	-moz-border-radius: .5em;
	-webkit-box-shadow: 1px 1px 6px #777;
	-moz-box-shadow: 1px 1px 6px #777;
	padding: 1em;
	margin: 1em;
	background: white;
}
a.normal {
	padding: .2em 1em .25em;
	border-radius: .3em;
	font-size: small;
}
a.big {
	padding: .5em 1em .55em;
	border-radius: .5em;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}
a.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font: sans;
	font-weight: bold;
}
a.button:hover {
	text-decoration: none;
}
a.button:active {
	position: relative;
	top: 1px;
}
a.gray {
	color: #333;
	text-shadow: white 1px 1px 0;
	border: solid 1px #b7b7b7;
	background: -moz-linear-gradient(top, #F2F2F2, #E6E6E6);
}
a.gray:hover {
	background: -moz-linear-gradient(top, #E6E6E6, #CCC);
}
a.gray:active {
	color: #666;
	background: -moz-linear-gradient(top, #E6E6E6, #F2F2F2);
}
a.khaki {
	color: #333;
	border: solid 1px #D8CF7E;
	background: -moz-linear-gradient(top, #F4EEAE, #F0E68C);
}
a.khaki:hover {
	background: -moz-linear-gradient(top, #F0E68C, #F0E050);
}
a.khaki:active {
	color: #666;
	background: -moz-linear-gradient(top, #CCC, #F4EEAE);
}
