<!DOCTYPE html>

<html lang="${lang}">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{stylesheet 'main.sass' /}
        #{stylesheet 'button.sass' /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher:'3b22fc8f-0f0f-4fc9-a599-f59f5d8fc1c9'});</script>
    </head>
    <body>
    	<header>
    		#{if user}
	    		<nav id="left-nav">
	    			#{a @Dbtit.index(), class:'home-link', rel:'home', alt:'Debate it!'}Debate it!#{/a}
					| #{a @Debate.followThreads()}&{'followedThreads'}#{/a}
	    			| #{a @Rooms.list()}&{'myRooms'}#{/a}
					*{| #{a @Debate.newThread()}&{'createThread'}#{/a}}*
				</nav>
				<nav id="right-nav">
					<strong>${user.name}</strong>
					| #{a @Dbtit.profile(request.url)}&{'profile'}#{/a}
					| #{a @Dbtit.logout()} &{'logout'} #{/a}
				</nav>
	    	#{/if}
	    	#{else}
	    		<nav id="left-nav">
	    			#{a @Dbtit.index(), class:'home-link', rel:'home', alt:'Debate it!'}Debate it!#{/a}
				</nav>
				#{get 'moreNav' /}
	    	#{/else}
    		<div id="end-nav"></div>
    	</header>
    
        #{if flash.success}
        <div class="flash success">
        	${flash.success}
        </div>
        #{/if}
        
        #{if flash.error}
        <div class="flash error">
        	${flash.error}
        </div>
        #{/if}
        
        <article>
        	#{doLayout /}
        </article>
        
        <footer>
        	<p>© 2010</p>
        </footer>
        
        #{script 'jquery-1.4.min.js' /}
        #{script 'thread.js' /}
        #{get 'moreScripts' /}
    	#{i18n /}
    </body>
</html>
