#{extends 'main.html' /}
#{set title: thread.title + " — Debate it!" /}
#{set 'moreStyles'}
	#{stylesheet 'bubble.sass' /}
	#{stylesheet 'sprite.sass' /}
	#{stylesheet 'tree.sass' /}
#{/set}

<script type="text/javascript">
	var getAnswers = #{jsAction @Debate.answers(thread.hash, ':paragraphId') /}
	var readPost = #{jsAction @Debate.readPost(thread.hash, ':postId') /}
</script>

#{if user == null}
	#{set 'moreNav'}
		<nav id="right-nav">#{a @Dbtit.login(request.url)} &{'login'} #{/a} &{'toParticipate'}</nav>
	#{/set}
#{/if}

<div>
	#{a @Rooms.show(thread.room.hash)}${thread.room.name}#{/a} » #{get 'thread-title' /}
	#{if thread.tags.size() > 0}
		<div class="thread-tags">
			#{list items: thread.tags, as: 'tag'}
				#{a @Debate.listTaggedThreads(tag.name), class: 'tag'}${tag.name}#{/a} 
			#{/list}
		</div>
	#{/if}

	<div id="side-actions">#{followthread thread:thread, user:user /}</div>
</div>

#{get 'thread-content' /}

#{if footNotes.size() > 0}
	<ol id="footnotes" class="footnotes">
	#{list items:footNotes, as:'footNote'}
		<li>${ footNote.getContent().raw() }</li>
	#{/list}
	</ol>
#{/if}
